.promo {
    background: url(../img/promo_bg.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    padding-top: 33%;
    font-family: 'Montserrat', 'Arial', sans-serif;
    max-width: 525px;
    margin: 0 auto;
    &__wrapper {
        background: linear-gradient(179.95deg, #5492D1 0.05%, rgba(84, 146, 209, 0) 171.21%);
    }
    &__content {
        margin-left: auto;
        background: rgba(255, 255, 255, 0.5);
        padding: 19px 15px;
        max-width: 268px;
    }

    &__h {
        font-weight: 500;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.1em;

        color: #191315;
        margin-bottom: 22px;
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;

        color: #000000;
        margin-bottom: 10px;
    }
    &__heart {
        margin-left: auto;
        margin-right: auto;
        display: block;
        animation: heart 2s infinite linear;
        animation-timing-function: ease-in-out
    }
}

@keyframes heart {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.4, 1.4, 1.4)
    }

    to {
        transform: scaleX(1)
    }
}