.slider {
    padding: 30px 0 30px;
    &__img {
        display: block;
        margin: 0 auto;
        width: 200px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__title {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;

        color: #5492D1;

    }
    &__text {
        text-align: center;
    }
}