.tabs__content {
    display: none; /* по умолчанию прячем все блоки */
    position: relative;
  }
  .tabs__content.active {
    display: block; /* по умолчанию показываем нужный блок */
    
  }

  .tab {
    background: linear-gradient(179.95deg, #5492D1 0.05%, rgba(84, 146, 209, 0) 171.21%);
    padding: 30px 0;
    &__img {
        width: 245px;
        height: 315px;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.15em;

        color: #5492D1;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        padding: 6px;
        position: absolute;
        bottom: 40px;
        width: 156px;
        right: -15px;
    }
    
  }
  .tabs {
    display: flex;
    margin: 20px auto;
    &__caption {
        list-style-type: none;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 15px;
        li {
            cursor: pointer;
            width: 135px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
            position: relative;
            color: #FFFFFF;
            padding-left: 20px;
            &::before {
                content: url(../img/gift1.svg);
                position: absolute;
                left: 0;
                top: 0;
                display: none;
            }
            &:hover {
                border-bottom: 2px solid #fff;
                &::before {
                    display: block;
                }
            }
        }
        li.active {
            border-bottom: 2px solid #fff;
            &::before {
                content: url(../img/gift1.svg);
                position: absolute;
                left: 0;
                top: 0;
                display: block;
            }
        }
    }
    &__title {
        font-weight: 600;
font-size: 28px;
line-height: 34px;
color: #fff;
    }
  }